@charset "utf-8";
body {
    background-color: #a9a9a9;
}
.content_wrap {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}
.content_wrap .header_top {
    width: 100%;
    height: 199px;
    background-color: #CAEBF2;
    font-size: 36px;
}
.content_wrap .nav_bar {
    background-color: #ff3b3f;
    width: 100%;
    height: 50px;
}
.content_wrap .content {
    height: 400px;
    width: 100%;
    background-color: #efefef;
}
.content_wrap .footer_bottom {
    height: 100px;
    width: 100%;
    background-color: #caebf2;
}
